doctype html
html(lang="en")
  head
    title Cases.
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="css/style2.css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="js/jquery.min.js")
    script(src="js/lightbox.js")
    link(href="css/lightbox.css", rel="stylesheet")
  body
    .row
      .col-md-4
        h2.keyline = data.name
    br
    .row
      .col-md-4
        p
          img.banner(src="images/iphonescreen.png", alt="Smiley face", height="42", width="42")
      .col-md-8
        .row
          .col-md-10.col-md-offset-1
            h3.summ
              | Improved business through strategizing and executing m-Commerce for a leading E-retailer in South Africa.
        br
        br
        br
        .row
          .col-md-3.col-md-offset-1
            h3.num1 35%
            h3.com  Increase in site usage
          .col-md-3
            h3.num2 2000+
            h3.com checkouts per day
          .col-md-3
            h3.num3 10%
            h3.com Month on month growth
        br
        br
        br
        .row
          .col-md-10.col-md-offset-1
            ul.point
              h3.sold Solution Highlights
              li
                | Implementation of Recommendation Engine, .Implementation of Recommendation Engine.
              li Created a one-stop-shot website for all flowers and gifting options.
              li
                | Implementation of Recommendation Engine,Implementation of Recommendation Engine,Created a one-stop-shot website for all flowers and gifting options.
        br
        br
        br
        .row
          .col-md-10.col-md-offset-1
            blockquote.style4
              span
                | "I am really happy that we are up and running and getting some orders and that I
                | think it looks great that Zensar did a great job with it. I am excited to get going with
                | the shopping basket and Zensar revolutionizing the way we manage the process".
                br
                p.man  - Managing Director 
                br
                a.man1(href="images/mov_bbb.mp4", data-lightbox="Player", data-title="My caption")
                  img.idle(src="images/play.png", alt="Smiley face")
                  | Play testimonial
